
.nav-text {
    display: inline-block;
    transition: transform 0.5s ease-in-out, color 0.25s ease-in-out;
    font-size: 5rem; /* Adjust as needed */
    font-weight: bold;
}



.nav-text:hover {
    transform: rotate(360deg);
    color: black; /* Use any color you prefer */
}

@keyframes spinAndColor {
    0% { transform: rotate(0deg); color: white; }
    50% { transform: rotate(180deg); color: red; } /* Midway turns red */
    100% { transform: rotate(360deg); color: white; } /* Returns to white */
}
body {
    font-family: 'Caviar Dreams', sans-serif, Arial, Helvetica, sans-serif;
}
.oleez-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(adapW.gif) center no-repeat #fff; }